xml-resources/jaxb/Usuarios/UsuariosEsquema.xsd

<?xml version="1.0"?>

<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
	<xsd:element name="users">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="user" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="username" type="xsd:string" />
							<xsd:element name="password" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
